.titulo-navbar {
  font-weight: bold;
  font-size: 24px; // Puedes ajustar el tamaño de la fuente según tus preferencias
  color: #d50000; // Cambia el color del texto a tu preferencia
  text-align: center;
}

// Estilos Bootstrap (React Bootstrap)
.navbar {
  background-color: #e8dddd;
  height: 12vh; // Altura del navbar
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos para el logo si es necesario
.navbar img {
  margin-right: 1px;
  margin-left: 1px;
}
