/* Estaciones.css */
.rojo {
    color: #e71736; /* Rojo para línea 1 */
  }
  
  .amarillo {
    color: #e57104; /* Amarillo para línea 2 */
  }
  
  .fucsia {
    color: #692f23; /* Fucsia para línea 3 */
  }
  
  .azul {
    color: #2d3092; /* Azul para línea 4 */
  }
  
  .celeste {
    color: #01aef0; /* Celeste para línea 4A */
  }
  
  .verde {
    color: #0a9444; /* Verde para línea 5 */
  }
  
  .morado {
    color: #a35db4; /* Morado para línea 6 */
  }
  
  .linea-option {
    font-weight: bold;
  }
  